<div class="text-center mt-5">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus rem tempore nisi quas hic. Delectus
        assumenda totam error amet at dignissimos laudantium et. Odio aliquid exercitationem labore ratione commodi fuga in?
        Repudiandae fuga tenetur nam explicabo pariatur dicta, dolores iusto totam cum eos adipisci ea dolor nemo, quae eius
        alias fugit? Consectetur quo odit earum, consequuntur neque nesciunt tempore sunt magnam corrupti labore nam
        perferendis maxime qui doloremque assumenda modi debitis? Provident eligendi necessitatibus sit cum, vel officiis?
        Odio, alias? Inventore tempore vel quis nostrum adipisci, incidunt, similique odit labore sapiente minus perferendis
        accusamus. Aperiam quod placeat aspernatur fuga illum.</p>
</div>